@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    font-family: var(--font-jacques-francois);
    font-family: var(--font-playfairdisplay);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jacques-francois);
  width: 100%;
}

.font-jacques {
  font-family: 'Jacques', serif;
}

.jacques-francois-regular {
font-family: "Jacques Francois", serif;
}
